<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>增加用户</title>
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="/stylesheets/theme.css">
    <link rel="stylesheet"
          href="/css/font-awesome/css/font-awesome.css">
    <script src="/css/jquery-1.8.1.min.js"
            type="text/javascript"></script>
    <script>
        $(function () {
            $("#username").blur(function () {
                $.ajax({
                    type: "POST",
                    url: "/sys/user/checkuser",
                    data: "username="+$("#username").val(),
                    dataType: "json",
                    success: function(msg){
                        //console.log(msg);
                        if(msg.code==1){
                            $("#usermsg").html(msg.msg);
                            $("#usermsg").css("color","red");
                            $("#username").focus();
                        }else{
                            $("#usermsg").html(msg.msg);
                            $("#usermsg").css("color","#5bb75b");
                        }
                    }
                });
            });
        })
    </script>
</head>
<body>
<ul class="breadcrumb">
    <li><a href="#">系统用户管理</a> <span class="divider">/</span></li>
    <li class="active">增加系统用户</li>
</ul>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>提示!</h4>
    <strong th:text="${msg}"></strong>
</div>
<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" action="/sys/user/add" method="get">
            <div class="control-group">
                <label class="control-label">用户名：</label>
                <div class="controls">
                    <input type="text" name="username" id="username">
                    <span id="usermsg"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">密码：</label>
                <div class="controls">
                   <input type="password" name="userpwd" id="uerpwd">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">重复密码：</label>
                <div class="controls">
                    <input type="password" name="userpwd2" id="uerpwd2">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">用户角色：</label>
                <div class="controls">
                   <select name="roleid" >
                       <option th:each="role:${rolelist}" th:value="${role.roleid}" th:text="${role.rolename}"></option>
                   </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">用户姓名：</label>
                <div class="controls">
                    <input type="text" name="usertruename">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">用户姓名：</label>
                <div class="controls">
                    <select name="usersex">
                        <option value="男">女</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">用户状态：</label>
                <div class="controls">
                    <select name="userstate">
                        <option value="1">正常</option>
                        <option value="0">不可用</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="提交" />
                    <button class="btn btn-primary" type="button" onclick="location.href='/sys/role/list';">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>