<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>增加角色</title>
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="/stylesheets/theme.css">
    <link rel="stylesheet"
          href="/css/font-awesome/css/font-awesome.css">
    <script src="/css/jquery-1.8.1.min.js"
            type="text/javascript"></script>
    <style>
        div{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<ul class="breadcrumb">
    <li><a href="#">系统角色管理</a> <span class="divider">/</span></li>
    <li class="active">增加系统角色</li>
</ul>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>提示!</h4>
    <strong th:text="${msg}"></strong>
</div>
<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" action="/sys/role/add" method="get">
            <div class="control-group">
                <label class="control-label">角色名称：</label>
                <div class="controls">
                    <input type="text" name="rolename">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">角色说明：</label>
                <div class="controls">
                    <textarea name="roledesc" style="width: 500px;height: 80px"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">角色状态：</label>
                <div class="controls">
                    <select name="rolestate">
                        <option value="1">正常</option>
                        <option value="0">不可用</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="提交" />
                    <button class="btn btn-primary" type="button" onclick="location.href='/sys/role/list';">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>