<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>查询系统角色</title>
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="/stylesheets/theme.css">
    <link rel="stylesheet"
          href="/css/font-awesome/css/font-awesome.css">
    <script src="/css/jquery-1.8.1.min.js"
            type="text/javascript"></script>
</head>
<body>
<ul class="breadcrumb">
    <li><a href="#">系统角色管理</a> <span class="divider">/</span></li>
    <li class="active">系统角色列表</li>
</ul>
<div class="row-fluid">
    <form class="form-search" style="padding: 5px" method="post" action="/sys/role/list">
        <label>角色名称：</label>
        <input class="input-medium search-query" type="text" name="rolename" th:value="${param.rolename}"/>
        <label>角色状态：[[${param.rolestate}]]</label>
        <select name="rolestate">
            <option value="-1" th:selected="${param.rolestate=='-1'}">全部</option>
            <option value="1" th:selected="${param.rolestate=='1'}">正常</option>
            <option value="0" th:selected="${param.rolestate=='0'}">不可用</option>
        </select>
        <button type="submit" class="btn">查找</button>
        <button class="btn btn-success" type="button"
         onclick="location.href='/sys/role/toadd';">增加</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>角色名称</th>
            <th>角色说明</th>
            <th>角色状态</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="role:${list}">
                <td th:text="${role.rolename}"></td>
                <td th:text="${role.roledesc}"></td>
                <td th:text="${role.rolestate}"></td>
                <td>
                    <a th:href="@{/sys/role/toedit(id=${role.roleid})}">修改</a>
                    <a th:href="@{/sys/role/toedit1/}+${role.roleid}">修改</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>